@{
    ViewData["Title"] = "Home Page";
}
@model StudentModel

<div>
    <h3>Register a course</h3>
    <hr />
    <div class="row justify-content-center justify-content-md-start">
        <div class="col-md-6 col-10">
            <form id="register-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" id="firstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" id="lastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClassTime" class="control-label"></label>
                    <select asp-for="ClassTime" class="form-control" id="classTime">
                        <option value="">Please select a time</option>
                        <option value="weekday-morning">Weekday Mornings</option>
                        <option value="weekday-afternoon">Weekday Afternoons</option>
                        <option value="weekday-evening">Weekday Evenings</option>
                        <option value="weekend-morning">Weekend Mornings</option>
                        <option value="weekend-afternoon">Weekend Afternoons</option>
                        <option value="weekend-evening">Weekend Evenings</option>
                    </select>
                    <span asp-validation-for="ClassTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PreferredStartDate" class="control-label"></label>
                    <input asp-for="PreferredStartDate" class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" id="startDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddYears(1).ToString("yyyy-MM-dd")"/>
                    <span asp-validation-for="PreferredStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-secondary col-6" id="btnSubmit" />
                </div>
            </form>
        </div>
        <div class="col-md-6 col-10 d-none" id="feedback">
            <div class="card border-success mt-2" style="height:75%">
                <div class="card-body">
                    <p class="card-text">Hi <span id="username"></span>, you have successfully registered for the course that starts on <span id="firstClassDateTime"></span>.</p>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function (event) {
            if ($("#register-form").valid()) {
                // prevent the default post event from happenning
                event.preventDefault();

                // create a json object to incorporates all the fields
                var formObj = {
                    "FirstName": $("#firstName").val(),
                    "LastName": $("#lastName").val(),
                    "ClassTime": $("#classTime").val(),
                    "PreferredStartDate": $("#startDate").val()
                };
                console.log(formObj);

                // call the /home/feedback to retrieve the generated username and proper start time back
                $.ajax({
                    method: "POST",
                    url: "/Home/Feedback",
                    data: { studentJsonStr: JSON.stringify(formObj) },
                    dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    //headers: {
                    //    RequestVerificationToken:
                    //        $('input:hidden[name="__RequestVerificationToken"]').val()
                    //},
                    success: function (data, status) {
                        console.log(status);
                        console.log(data)
                        $("#feedback").removeClass("d-none");
                        $("#username").text(data.Username);
                        $("#firstClassDateTime").text(data.FirstClassDatetime);
                    },
                    error: () => {
                        alert("something went wrong");
                    }
                });  // end of ajax call

            }  // end of if all the validation has passed
        }); // end of click event handler of btnSubmit
        
    }); // end of document ready

</script>
}
